DB_HOST = host
DB_USER = usuario
DB_PASSWORD = suaSenha
DB_NAME = nomeDoBanco
DB_PORT = porta

SERVER_PORT = portaDoServidor

EMAIL_USER = exemplo@gmail.com
EMAIL_PASS = senha

SESSION_SECRET = suaChaveSecretaAqui